html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.questionBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 100vh;
  margin: auto;
}

.question {
  background-color: #222;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.answerBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  text-align: center;
  column-gap: 10px;
  row-gap: 10px;
}

.answer {
  border-radius: 5px;
  background-color: #222;
  padding: 20px 10px;
  cursor: pointer;
}

.user-answers {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.user-answers p {
  background-color: #222;
  margin: 10px 0;
  padding: 50px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
